
.idea/BCQ.iml
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.pyc
models/
results/
__pycache__/
buffers/
*.gif
.ipynb_checkpoints/
